<section class="dashboard">
  <!-- Title -->
  <article class="dashboard__title-cont">

    <h3 class="dashboard__title">Upcoming events</h3>
  </article>

  <!-- Card container -->
  <section class="dashboard__card-cont">
    @for (event of eventsInfo; track event.id) {
      <app-event-card (click)="eventDetails(event.id)" class="--fadeIn" [infoCard]="event"></app-event-card>
    } @empty {
      <p class="dashboard__card-empty">There aren't available events... :C</p>
    }

    <!-- <app-event-detail #eventDetail/> Pending investigation -->

    <dialog #eventDetail>
      pending info
    </dialog>

  </section>

</section>
